/** @format */

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.booklist-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.booklist-container {
  width: 70%;
  display: table;
  border: 1px solid black;
}

.booklist-container th {
  width: 300px;
  border-bottom: 1px solid red;
}

.booklist-container td {
  text-align: center;
  border-bottom: 1px solid blue;
}

.form-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}
